{% extends 'base_page.html' %}
{% block body %}
<header>
    <div class="container">
        <h1 class="app_name"> My Next Bus</h1>
        <div class="menu">
            <a href="/data">Data Page</a>
        </div>
    </div>
</header>
<center>
    <button class="button button1"><a href="/">Update Times</a></button>
</center>
<center>
    <p>{{ info }}</p>
    <table class="table">
        <tr class="table_header">
            {% for header in headings %}
            <th class="table_cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data_info %}
        <tr class="table_row">
            {% for cell in row %}
            <td class="table_cell">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock%}

